html,
body {
  height: 100%;
}

.container,
#app,
.layout-main {
  height: 100%;
}

.list-item {
  transition: all .3s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.list-item:hover {
  transform: translateY(-4px);
}

.ProductList li {
  border-bottom: 2px solid #DDD;
}

.ProductList li input,
.ComputedTotal input {
  height: 2rem;
  width: 4rem;
}
